#container
  font-family: "Open Sans", sans-serif
  display: -webkit-box
  display: -ms-flexbox
  display: flex
  -webkit-box-orient: vertical
  -webkit-box-direction: normal
  -ms-flex-flow: column nowrap
  flex-flow: column nowrap
  -webkit-box-pack: center
  -ms-flex-pack: center
  justify-content: center
  -webkit-box-align: center
  -ms-flex-align: center
  align-items: center
  width: 55%
  margin: 0 auto
  margin-top: 50px
  #title
    font-size: 2.5em
    color: #5BBCEE
    margin-bottom: 30px
  .card
    display: -webkit-box
    display: -ms-flexbox
    display: flex
    -webkit-box-pack: center
    -ms-flex-pack: center
    justify-content: center
    -webkit-box-align: center
    -ms-flex-align: center
    align-items: center
    height: auto
    padding: 30px
    width: 100%
    background-color: #FCFDFE
    -webkit-box-shadow: 0 1px 1px 0 #C4CBD0, 0 4px 15px 0 #C4CBD0
    box-shadow: 0 1px 1px 0 #C4CBD0, 0 4px 15px 0 #C4CBD0
    margin: 35px
    .card-content
      width: 85%
      display: -webkit-box
      display: -ms-flexbox
      display: flex
      -webkit-box-pack: justify
      -ms-flex-pack: justify
      justify-content: space-between
      -webkit-box-align: center
      -ms-flex-align: center
      align-items: center
      -webkit-box-orient: horizontal
      -webkit-box-direction: normal
      -ms-flex-flow: row wrap
      flex-flow: row wrap
      .card-title
        color: #5F5F5F
        font-size: 1.75em
        width: 100%
        -ms-flex-item-align: start
        align-self: flex-start
        font-weight: 600
        margin-bottom: 30px
      .text-input-pair
        width: 50%
        height: auto
        margin-bottom: 15px
        .lbl
          font-size: 1em
          color: #9C9898
          margin-bottom: 10px
        .text-input
          font-size: 1.3em
          text-indent: 10px
          width: 75%
          height: 35px
          line-height: 60px
          outline: 0.5px solid #9C9898
          border: none

.button
  //width: 50%
  height: 50px
  background-color: #4CAF50
  border: none
  color: white
  padding: 16px 32px
  text-align: center
  text-decoration: none
  display: inline-block
  font-size: 16px
  margin: 4px 2px
  -webkit-transition-duration: 0.4s
  transition-duration: 0.4s
  cursor: pointer
  background-color: white
  color: #75B3FA
  border: 2px solid #75B3FA
  &:hover
    background-color: #75B3FA
    color: white

.box
  display: flex
  flex-flow: row nowrap
  margin-top: 20px
  margin-bottom: 20px

.yes
  margin-right: 20px

input[type=radio]
  float: left

label
  margin-left: 30px
  display: block

.radio-button
  margin-right: 20px

p.text
  font-family: 'open sans', helvetica, avenir
  color: #5F5F5F
  display: block
  margin-left: 30px

h2
  &.education
    margin-bottom: 20px
  color: #9C9898
  font-weight: 600
  &.qual
    margin-bottom: 40px

.question
  margin-top: 20px